{% extends "base.html" %}
{% load staticfiles %}

{% block stylecss %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/header.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block javascripts %}
{% endblock %}


{% block header %}
{% endblock header%}

        {% block content %}
            <p>
                ITA SoftServe
            </p>
            {% if request.user.is_superuser %}
                <p>
                Welcome {{ user.username }}! <br>
                You're superuser and allowed to see this.
                </p>
                <img src="https://blog.stackoverflow.com/images/wordpress/superuser-logo-runner-up-1.png"
                     alt="Picture for superuser">
            {% else %}
            <p>
            Sorry {{ user.username }}, you're not a superuser! <br>
            And you won't see picture down here.
            </p>
            {% endif %}
        {% endblock content %}

{% block footer %}

    <footer class="footer">
        <div class="container">
        </div>
    </footer>

{% endblock footer %}